.slide-content {
  display: flex;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  gap: 2rem;
}

.slide-text {
  flex: 1;
  max-width: 40%;
  padding: 2rem;
}

#map {
  flex: 1;
  height: 80%;
  min-height: 300px;
  max-width: 60%;
  border-radius: 8px;
}
